.cart-input {
    border-bottom: 1px solid var(--color-white);
    padding-bottom: 1rem;
    width: 100%;
    color: var(--color-white);
    font-size: 1.6rem;
    opacity: .8;
}

.cart-input::placeholder {
    color: var(--color-white);
    font-size: 1.4rem;
    letter-spacing: .1rem;
    opacity: .7;
}

.cart-input:not(:last-child) {
    margin-bottom: 1rem;
}