.card-info-sub-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    color: var(--color-white);
}

.card-info-sub-text__title {
    font-size: 1.7rem;
    font-weight: 400;
}

.card-info-sub-text__btn {
    font-size: 1.8rem;
    color: var(--color-white);
}

