.cart-card {
    width: 28rem;
    border-radius: 0;
    color: var(--color-dark-green);
    padding: 2rem;
}

.cart-card__title {
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.cart-card__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-card__footer .cart-card__row {
    align-items: flex-end;
    margin: 2rem 0;
}

.cart-card__input {
    border-bottom: 1px solid var(--color-dark-green);
    color: var(--color-dark-green);
    width: 65%;
    padding: .5rem;
    font-size: 1.5rem;
}

.cart-card__input::placeholder {
    font-size: 1.5rem;
    color: var(--color-dark-green);
}

.cart-card__input-btn {
    width: 35%;
    font-size: 1.2rem;
    opacity: .8;
    padding: 1.2rem;
}

.cart-card__btn {
    padding: 1.3rem;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 700;
}


