.contact {
    padding: 10rem 0;
}

.contact__row {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.contact__img-box {
    width: 50rem;
    height: 35rem;
    border-radius: 20rem;
    border-bottom-left-radius: 0;
}

@media screen and (max-width: 960px) {
    .contact__row {
        flex-direction: column-reverse;
    }

    .contact__img-box {
        width: 100%;
        height: 45rem;
        margin-bottom: 5rem;
    }

    .contact__col {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .contact__img-box {
        height: 40rem;
    }
}


