.catalogue {
    padding: 5rem 0;
}

.catalogue__row {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.catalogue__col:last-of-type {
    padding-left: 4rem;
    width: 100%;
}

.catalogue__pagination {
    margin-top: 4rem;
}
