.quadrup-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 48rem;
}

.quadrup-image__circle {
    width: 23rem;
    height: 23rem;
}
